<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    
    <title>Tegra-Food</title>
</head>
<body>

    <main class="container">

        <a href="http://localhost:5500/view/"><img src="https://cdn-icons-png.flaticon.com/512/1946/1946433.png" alt="home" width="4.2%"></a><br><br>

        <hgroup>
            <h2>DELETE</h2>
            <h3>delete products by id • <strong>Tegra-Food!</strong></h3>
        </hgroup>

        <article>

            <form>

                <label for="prod_id">ID:</label>
                <input type="text" name="prod_id" id="prod_id">

                
            </form>

        </article>

        <div class="grid">
            <div><button onclick="updateProductById()">REQUEST!</button></div>
        </div>
        

        <hr>

        
        <footer class="container-fluid" style="margin-bottom: 0%;">
            <blockquote style="margin-bottom: 0%;">
                <small>Built with  ❤️  and <a href="https://picocss.com">Pico Framework</a> <br>by <a href="https://www.github.com/Lip-ee">Filipe Campos</a></small>
            </blockquote>
        </footer>
    </main>


    

    
    <script>
        
        function updateProductById(){
            let prod_id = document.getElementById('prod_id').value;

            fetch('http://localhost:8000/api-tegra/' + prod_id, {
                method: 'DELETE',
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            .then(res => res.json())
            .then(data => alert(`${data.message}`))
        }

    </script>
</body>
</html>