<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    
    <title>Tegra-Food</title>
</head>
<body>

    <main class="container">

        <a href="http://localhost:5500/view/"><img src="https://cdn-icons-png.flaticon.com/512/1946/1946433.png" alt="home" width="4.2%"></a><br><br>

        <hgroup>
            <h2>GET</h2>
            <h3>find all products • <strong>Tegra-Food!</strong></h3>
        </hgroup>

        <div class="grid">
            <div><button onclick="findProducts()">REQUEST!</button></div>
            <div><button onclick="clearData()" class="secondary">$ clear Terminal</button></div>
        </div>
        

        <hr>

        <!-- TERMINAL (output) -->
        <article>
            <h4><kbd>Terminal</kbd></h4>
            <p id="output"></p>
        </article>

        
        <footer class="container-fluid" style="margin-bottom: 0%;">
            <blockquote style="margin-bottom: 0%;">
                <small>Built with  ❤️  and <a href="https://picocss.com">Pico Framework</a> <br>by <a href="https://www.github.com/Lip-ee">Filipe Campos</a></small>
            </blockquote>
        </footer>
    </main>


    

    
    <script>

        function findProducts(){
            fetch('http://localhost:8000/api-tegra/', {})
                .then(res => res.json())
                .then(data => {
                    data.forEach(product => {
                        console.log(product)
                        document.getElementById('output').innerHTML += `
                            ${JSON.stringify(`{<br><b>id:</b> <i>${product.id}</i><br> <b>title:</b> <i>'${product.title}'</i><br> <b>price:</b> <i>${product.price}</i><br> <b>description:</b> <i>'${product.description}'</i><br> <b>image-url:</b> <i>'${product.image}'</i> <br>}`)},<br>
                        `;
                        
                    }, document.getElementById('output').innerHTML += "<br> <ins>[nodejs] root@root-pc:~/api/request/</ins> <br>" );
                });
        }


        function clearData(){
            document.getElementById('output').innerHTML = "";
        }

    </script>
</body>
</html>